# Config files with sensitive data
config.json

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

#database
*.db
*.sqlite
*.sqlite3

# Flask
instance/*.db
!instance/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log